@charset "UTF-8";

@import url('https://cdn.rawgit.com/moonspam/NanumSquare/master/nanumsquare.css');

@font-face {
    font-family: 'GmarketSansMedium';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'TTHakgyoansimMulgyeolB';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2402_keris@1.0/TTHakgyoansimMulgyeolB.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'BMkkubulimTTF-Regular';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/2410-1@1.0/BMkkubulimTTF-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'GmarketSansMedium';
    font-size: 16px;
    line-height: 1.5;
    color: black;
    min-width: 1320px;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: black;
}

html {
    cursor: none;
}

#drawing_line {
    position: relative;
    z-index: 1500;
    height: 0;
}

#drawing_line>svg {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    pointer-events: none;
}

#drawing_line>svg .drawing_line_polyline {
    fill: none;
    stroke: #FF4747;
    stroke-width: 2;
}

#drawing_line>svg .drawing_line_circle {
    fill: #FF4747;
}

/* 헤더 */
.header {
    width: 1320px;
    margin: auto;
    display: flex;
    align-items: center;
    padding-top: 30px;
}

.header ul {
    width: 1320px;
    display: flex;
    justify-content: flex-end;
    gap: 10px;
}

.header ul a {
    font-size: 20px;
    font-weight: bold;
    transition: 0.3s;
    padding: 22px 14px;
}

.header ul a:hover {
    color: #FFD76C;
}

/* 메인배너(슬라이드) */
.main-banner-inner {
    width: 1005px;
    height: 804px;
    margin: 24px 656px 0px 150px;
    box-sizing: border-box;
    position: relative;
    overflow: hidden;
}

.banner-b{
    margin: auto;
}

.main-banner {
    height: 900px;
    background: url(../images/main/b_back.png) no-repeat right bottom;
    margin-right: 116px;
    margin-bottom: 180px;
}

.main-banner ul {
    display: flex;
    width: 100%;
    overflow: hidden;
    justify-content: space-between;
    padding-bottom: 27px;
}

.li-banner {
    width: 1200px;
}

.li-text {
    margin-top: 530px;
    margin-right: 80px;
    width: 500px;
}

.se1 {
    font-size: 30px;
    font-weight: bold;
}

.se2 {
    font-family: 'TTHakgyoansimMulgyeolB';
    font-size: 45px;
    margin-top: 13px;
}

.banner-plus {
    display: inline-block;
    font-size: 14px;
    color: white;
    margin-top: 55px;
    padding: 10px 25px 10px 25px;
    background-color: #3AC9FF;
}

.banner-plus:hover {
    background-color: #FFD76C;
}

.slide .banner-b .swiper-pagination-bullet{
    background-color: #FF4747;
}

/* 베스트 */

.best {
    width: 1270px;
    margin: auto;
}

.best .box1 {
    display: flex;
    width: 100%;
    overflow: hidden;
    justify-content: space-between;
}

.li-best {
    width: 531px;
    height: 531px;
    margin-top: 186px;
    margin-left: 30px;
}

.li-best .best-list ul {
    width: 531px;
    height: 414px;
    display: flex;
    align-content: space-between;
    flex-wrap: wrap;
    margin-top: 40px;
}

h1 {
    background: url(../images/main/b_icon.png) no-repeat left top;
    padding-left: 50px;
    padding-top: 65px;
    font-size: 40px;
    font-family: 'BMkkubulimTTF-Regular';
    font-weight: 200;
}

.slide .best-bnt .swiper-pagination-bullet{
    background-color: #676767;
}

.best-slide {
    width: 646px;
    height: 751px;
    box-sizing: border-box;
    position: relative;
    overflow: hidden;
    justify-content: center;
    padding-right: 0;
}

.swiper-container .swiper-button-next, .swiper-container .swiper-button-prev {
    color: #ffffff00;
}

.swiper-container .swiper-button-prev {
    left: 3%;
    width: 38px;
    height: 26px;
}

.swiper-container .swiper-button-next {
    right: 3%;
    width: 38px;
    height: 26px;
}

.swiper-container .swiper-button-prev:after {
    background: url(../images/main/a_left.png) no-repeat;
    content: '';
    display: block;
    width: 38px;
    height: 26px;
}

.swiper-container .swiper-button-next:after {
    background: url(../images/main/a_right.png) no-repeat;
    content: '';
    display: block;
    width: 38px;
    height: 26px;
}


.box2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.box2 div {
    position: relative;
}

.box2 div img:nth-child(2){
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transition: 1s;
}

.box2 a:hover img:nth-child(2){
    opacity: 1;
}

/* 어바웃*/
.about {
    width: 100%;
    height: 420px;
    background: url(../images/main/about.jpg) no-repeat center top/cover fixed;
    margin: 150px 0;
}

.about-text {
    display: flex;
    flex-direction: column;
    font-family: 'GmarketSansMedium';
    text-align: right;
    color: white;
    padding-top: 130px;
    margin-right: 1160px;
}

h2 {
    font-size: 20px;
    font-weight: 800;
    margin-bottom: 30px;
    text-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

.about-t {
    font-size: 28px;
    font-weight: 400;
    margin-bottom: 60px;
    text-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

.about-plus {
    font-size: 14px;
    font-weight: lighter;
    color: rgba(255, 255, 255, 0.644);
}

.about-plus:hover {
    color: #327999a2;
}

/* 스페셜 */
.special {
    width: 1320px;
    margin: auto;
}

.special-inner {
    margin: auto;
}

h3 {
    font-family: 'BMkkubulimTTF-Regular';
    font-size: 40px;
    font-weight: 300;
    text-align: center;
    padding-bottom: 25px;
    background: url(../images/main/s_icon.png) no-repeat center bottom;
}

.s-img {
    width: 1320px;
    margin: auto;
    display: flex;
    justify-content: center;
    position: relative;
}

.special img {
    display: block;
    border-radius: 33px;
    transition: 0.8s;
}

.special a img:hover{
    transform: scale(1.1);
}

.z1 {
    position: absolute;
    top: 105px;
    left: 63px;
    z-index: 50;
}

.z2 {
    position: absolute;
    top: 78px;
    left: 260px;
    z-index: 60;
}

.z3 {
    position: absolute;
    top: 51px;
    left: 497px;
    z-index: 90;
}

.z4 {
    position: absolute;
    top: 78px;
    left: 770px;
    z-index: 60;
}

.z5 {
    position: absolute;
    top: 105px;
    left: 1027px;
    z-index: 50;
}

.z1, .z2, .z3, .z4, .z5 {
    overflow: hidden;
    border-radius: 33px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.special-plus p {
    position: absolute;
    z-index: 99;
    top: 487px;
    left: 600px;
    padding: 12px 29px;
    background-color: #E2D3B5;
    border-radius: 5px;
    font-family: 'GmarketSansMedium';
    font-size: 14px;
    font-weight: 300;
    color: white;
    transition: 0.5s;
}

.special-plus p:hover {
    background-color: #c5b593;
}

/* 이벤트 */

.event {
    width: 1320px;
    margin: auto;
    margin-top: 750px;
}

h4 {
    font-family: 'BMkkubulimTTF-Regular';
    font-size: 40px;
    font-weight: 300;
    text-align: center;
    padding-bottom: 30px;
    background: url(../images/main/e_icon.png) no-repeat center bottom;
}

.event ul {
    width: 1150px;
    margin: auto;
    margin-top: 60px;
    display: flex;
    justify-content: space-between;
}

.event ul li a:hover img {
   transform: scale(1.1,1.1);
}

.event img {
    transition: 1s;
}

.e-text {
    margin-top: 10px;
    font-family: 'GmarketSansMedium';
    font-size: 20px;
    text-align: center;
}

.event-plus {
    width: 135px;
    margin: auto;
    text-align: center;
    padding: 12px 0;
    background: #B5CAE2;
    border-radius: 5px;
    font-family: 'GmarketSansMedium';
    font-size: 14px;
    font-weight: 300;
    color: white;
    transition: 0.5s;
    margin-top: 20px;
}

.event-plus:hover {
    background-color: #9db2ca;
}

/* 푸터 */
.footer {
    background-color: #ECD8B1;
    text-align: center;
    margin-top: 130px;
}

.footer-in {
    display: flex;
    width: 1320px;
    margin: auto;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
}

.footer a {
    font-family: 'GmarketSansMedium';
    font-size: 12px;
    color: white;
}

.footer a:hover {
    color: rgba(255, 255, 255, 0.6);
}

.footer-center {
    display: flex;
    width: 300px;
    justify-content: space-between;
}

.footer-right {
    display: flex;
    width: 75px;
    justify-content: space-between;
}

/* 탑버튼 */
.top_btn{
    position: fixed;
    bottom: 95px;
    right: 20px;
    z-index: 100;
}

/* 탑버튼 누르면 부드럽게 올라가기 */
html {
    scroll-behavior: smooth;
}